
@font-face {
	font-family: 'Geometria Regular';
	src:  url('../fonts/Geometria.woff2') format('woff2'),
	url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Bold';
	src:  url('../fonts/Geometria-Bold.woff2') format('woff2'),
	url('../fonts/Geometria-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Medium';
	src:  url('../fonts/Geometria-Medium.woff2') format('woff2'),
	url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Medium';
	src:  url('../fonts/Geometria-Medium.woff2') format('woff2'),
	url('../fonts/Geometria-Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Extra Bold';
	src:  url('../fonts/Geometria-ExtraBold.woff2') format('woff2'),
	url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Geometria-Heavy";
	src:  url('../fonts/Geometria-Heavy.woff2') format('woff2'),
	url('../fonts/Geometria-Heavy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
